body {
    margin: 0em;
}
.cover{
    height: 400px;
    background-image: url("../img/fo.jpg");
    color: #5EA8F8;
    background-size: cover;
    background-position: center;
    background-color: rgb(0,0,0,0,5);
    background-blend-mode: darken;
}
.cover-small {
    height: 200px;
    background-blend-mode: normal;
}
.card-title {
    min-height: 3rem;
}
.card-text {
    min-height: 5rem;
}
.card-footer {
    min-height: 5rem;
}